@-o-viewport {
    width: device-width;
    zoom: 1
}

@viewport {
    width: device-width;
    zoom: 1
}

@-ms-viewport {
    width: device-width
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 65.5%;
    scroll-behavior: smooth;
    background-color: #333;
    line-height: 0
}

body {
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
    font-family: "Arial Narrow"
}

h6 {
    display: none
}

u {
    -webkit-text-decoration-color: #f63;
    text-decoration-color: #f63
}

p {
    font-size: 1.3rem
}

.clear-fix::after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background: #333
}

.bnews a p {
    font-size: 1.5rem;
    margin-top: .5rem
}

.cnews u a {
    padding: 0;
    margin: 0
}

.cnews {
    padding-top: 1rem
}

.cnews u a p {
    vertical-align: middle;
    font-size: 1.4rem
}

.bnews a p img {
    vertical-align: middle
}

.pagebtn a {
    padding: 1rem 0;
    text-align: center
}

a:hover {
    color: #fc0
}

hr.border {
    border: 5px solid #f63
}

.hr {
    max-width: 114rem
}

#head {
    background-color: #fff;
    max-width: 114rem;
    margin: 0 auto;
    background: #fff;
    overflow: hidden
}

.logo img {
    width: 100%;
    height: auto;
    margin: 1rem
}

.middle-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: #fff
}

.audio {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0
}

audio {
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear
}

.button {
    padding: .7rem .3rem;
    width: 100%;
    background: #333;
    border: 0;
    text-align: center;
    margin: .3rem;
    cursor: pointer
}

.page {
    max-width: 114rem;
    margin: 0 auto;
    overflow: hidden
}

hr.block {
    padding: 0;
    margin: 0;
    border: .3rem solid #f63
}

.hr {
    padding: 0;
    max-width: 114rem;
    margin: 0 auto
}

.clickHere {
    text-transform: none
}

.web-radio img {
    width: 50%;
    height: auto
}

.btns {
    margin-top: 1rem
}

.btn:nth-child(1) {
    margin-top: 2rem
}

.news {
    max-width: 114rem;
    padding: 0;
    margin: 0 auto;
    line-height: 0;
    font-size: 0
}

.icons {
    text-align: center
}

.icon {
    text-align: center
}

.socialIcon {
    display: inline-block;
    padding-right: 3.5rem
}

.socialIcon:nth-child(3) {
    padding-right: 0
}

.news img {
    padding: 0;
    margin: 0
}

.page .pagebtn {
    background: #333
}

.page .col {
    text-align: center;
    margin: 0
}

.breaking-news {
    background-color: silver !important;
    max-width: 114rem;
    margin: 0 auto;
    vertical-align: center;
    overflow: hidden
}

.breaking-news .bnews {
    display: inline;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1rem
}

.breaking-news .cnews {
    display: inline;
    margin-top: 0;
    padding-top: 0
}

.breaking-news span {
    text-align: justify
}

.breaking-news .col {
    margin: 0
}

.breaking-news .span_1_of_3:nth-child(1) {
    width: 18%
}

.breaking-news .span_1_of_3:nth-child(2) {
    width: 67%
}

.breaking-news .span_1_of_3:nth-child(3) {
    width: 15%
}

.CH-btn {
    background: silver;
    color: #f63;
    font-weight: 700;
    font-size: 1.4rem
}

.BN-btn {
    background: silver;
    color: #000;
    text-align: center;
    font-weight: 700
}

.news img {
    width: 100%
}

.span_3_of_3 {
    width: 100%
}

.span_2_of_3 {
    width: 66.13%
}

.span_1_of_3:nth-child(1) {
    width: 5%
}

.span_1_of_3:nth-child(2) {
    width: 72%
}

.span_1_of_3:nth-child(3) {
    width: 15%
}

#head .span_1_of_3:nth-child(1) {
    width: 13%
}

#head .span_1_of_3:nth-child(2) {
    width: 63%
}

#head .span_1_of_3:nth-child(3) {
    width: 18%
}

footer {
    max-width: 114rem;
    margin: 0 auto
}

footer p {
    color: #fff;
    padding: 1rem 0;
    text-align: center
}

.youtubevideo {
    max-width: 114rem;
    background: #ccc;
    margin: 0 auto
}

.youtubevideo iframe {
    margin: 0 auto;
    width: 50%;
    height: 345px;
    display: block;
    padding: 4rem;
    border-style: none
}

.advertisement {
    max-width: 114rem;
    margin: 0 auto;
    width: 100%;
    background: #f63
}

.advertisement p {
    background: #f63;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem
}

.videoText {
    max-width: 114rem;
    padding: 4rem;
    margin: 0 auto;
    background: #fff
}

.videoText img {
    float: left
}

.videoText div {
    vertical-align: middle
}

.videoText div p {
    padding: 1rem 3rem
}

.oldNews {
    max-width: 114rem;
    padding: 9rem;
    margin: 0 auto;
    background: #ccc;
    text-align: center;
    align-content: center
}

.oldNews h2 {
    font-size: 2rem;
    color: red;
    text-align: center
}

.oldNews .newsButtons {
    text-align: center;
    align-content: center;
    padding: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto
}

.newsButtons a p {
    background: #666;
    font-size: 1.4rem;
    margin: 1rem;
    padding: .5rem
}

.marquee-outer {
    height: 29px;
    overflow: hidden;
    position: relative;
    color: orange
}

.marquee-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 5px;
    text-align: center;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%)
    }
    100% {
        -webkit-transform: translateX(-100%)
    }
}

@keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@media only screen and (max-width:1130px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 30%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 53%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 17%
    }
    body {
        font-size: 0
    }
    CH-btn {
        font-size: 1.2rem
    }
    span a img {
        margin: 1rem -.5rem
    }
    .cnews u a p {
        padding-top: 0
    }
}

@media only screen and (max-width:1045px) {
    .socialIcon {
        display: inline-block;
        padding-right: 3rem
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 20%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 63%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 17%
    }
    #head .span_1_of_3:nth-child(1) {
        width: 17%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 59%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 18%
    }
}

@media only screen and (max-width:916px) {
    html {
        font-size: 55.5%;
        scroll-behavior: smooth;
        background: #333
    }
    .socialIcon {
        display: inline-block;
        padding-right: 2.5rem
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
}

@media only screen and (max-width:855px) {
    .socialIcon {
        display: inline-block;
        padding-right: 2rem
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
    #head .span_1_of_3:nth-child(1) {
        width: 16%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 60%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 18%
    }
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 20%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 63%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 17%
    }
}

@media only screen and (max-width:770px) {
    .socialIcon {
        display: inline-block;
        padding-right: 1rem
    }
    .socialIcon img {
        width: 90%
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 28%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 52%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 20%
    }
}

@media only screen and (max-width:703px) {
    #head .span_1_of_3:nth-child(1) {
        width: 18%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 58%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 18%
    }
    .newgif {
        width: 10%
    }
}

@media only screen and (max-width:655px) {
    .bnews a p {
        margin-top: .8rem
    }
    .marquee-inner img {
        height: 3rem
    }
    .marquee-outer {
        height: 25px
    }
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 59%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 16%
    }
    html {
        font-size: 48%;
        line-height: 0
    }
    .audio {
        margin-top: 1rem;
        margin-bottom: .7rem
    }
}

@media only screen and (max-width:644px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 57%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 18%
    }
    .BN-btn {
        padding: 0;
        margin-bottom: 1rem
    }
    .CH-btn {
        padding: 0;
        margin: 0
    }
    .audio {
        height: 30px;
        width: 50%;
        margin-top: 1.2rem;
        margin-bottom: 1rem
    }
    .socialIcon {
        display: inline-block;
        padding-right: 0
    }
    .marquee-inner img {
        height: 2.7rem
    }
    .marquee-outer {
        height: 22px
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
}

@media only screen and (max-width:555px) {
    .web-radio {
        margin-top: 1rem
    }
    .bnews a p {
        margin-top: .7rem
    }
    .marquee-inner img {
        height: 2.7rem
    }
    .marquee-outer {
        height: 19px
    }
    .button {
        padding: .7rem .3rem
    }
    .socialIcon {
        display: inline-block
    }
    .socialIcon img {
        width: 60%
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
    .CH-btn {
        font-size: 1.2rem
    }
    #head .span_1_of_3:nth-child(1) {
        width: 20%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 54%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 20%
    }
    .audio {
        height: 30px;
        width: 50%;
        margin-top: 1.8rem;
        margin-bottom: 1.8rem
    }
    html {
        font-size: 42%
    }
}

@media only screen and (max-width:499px) {
    .socialIcon {
        display: inline-block;
        padding: 0
    }
    .socialIcon img {
        width: 50%
    }
    .marquee-outer {
        height: 18px
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
    #head .span_1_of_3:nth-child(1) {
        width: 21%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 48%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 22%
    }
    .web-radio {
        margin-top: 0
    }
    .audio {
        height: 30px;
        width: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem
    }
    html {
        font-size: 39%
    }
}

@media only screen and (max-width:480px) {
    .span_3_of_3 {
        width: 100%
    }
    .span_2_of_3 {
        width: 100%
    }
    .span_1_of_3:nth-child(1) {
        width: 100%
    }
    .span_1_of_3:nth-child(2) {
        width: 100%
    }
    .span_1_of_3:nth-child(3) {
        width: 100%
    }
    .web-radio img {
        width: 90%
    }
    audio {
        height: 40px;
        width: 75%
    }
}

.span_12_of_12 {
    width: 100%
}

.span_11_of_12 {
    width: 91.53%
}

.span_10_of_12 {
    width: 83.06%
}

.span_9_of_12 {
    width: 74.6%
}

.span_8_of_12 {
    width: 66.13%
}

.span_7_of_12 {
    width: 57.66%
}

.span_6_of_12 {
    width: 49.2%
}

.span_5_of_12 {
    width: 40.73%
}

.span_4_of_12 {
    width: 32.26%
}

.span_3_of_12 {
    width: 23.8%
}

.span_2_of_12 {
    width: 15.33%
}

.span_1_of_12 {
    width: 8.33%
}

@media only screen and (max-width:480px) {
    .span_12_of_12 {
        width: 32.26%
    }
    .span_11_of_12 {
        width: 32.26%
    }
    .span_10_of_12 {
        width: 32.26%
    }
    .span_9_of_12 {
        width: 32.26%
    }
    .span_8_of_12 {
        width: 32.26%
    }
    .span_7_of_12 {
        width: 32.26%
    }
    .span_6_of_12 {
        width: 23.8%
    }
    .span_5_of_12 {
        width: 23.8%
    }
    .span_4_of_12 {
        width: 23.8%
    }
    .span_3_of_12 {
        width: 23.8%
    }
    .span_2_of_12 {
        width: 23.8%
    }
    .span_1_of_12 {
        width: 23.8%
    }
}

.section {
    clear: both;
    padding: 0;
    margin: 0
}

.group:after,
.group:before {
    content: "";
    display: table
}

.group:after {
    clear: both
}

.group {
    zoom: 1
}

.col {
    display: block;
    float: left;
    margin: 1% 0 .6% 1.6%
}

.col:first-child {
    margin-left: 0
}

@media only screen and (max-width:454px) {
    .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center
    }
    .socialIcon {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 3rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .socialIcon img {
        width: 80%;
        padding-right: 0
    }
    .socialIcon:nth-child(3) {
        padding-right: 0
    }
    audio {
        height: 25px;
        width: 100%
    }
    #head .span_1_of_3:nth-child(1) {
        width: 24%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 46%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 22%
    }
    .web-radio img {
        width: 100%
    }
    html {
        font-size: 39%
    }
    #head .middle-items {
        right: 5rem
    }
    .newgif {
        width: 10%
    }
    .CH-btn {
        font-size: 1rem
    }
}

@media only screen and (max-width:454px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 55%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 20%
    }
}

@media only screen and (max-width:414px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 52%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 23%
    }
    .cnews u a p {
        padding-top: 0
    }
}

@media only screen and (max-width:390px) {
    .icon {
        display: inline-block;
        text-align: start;
        width: 100%
    }
    .socialIcon {
        width: 3rem
    }
    .socialIcon img {
        width: 100%;
        padding-right: 1rem;
        margin-left: 10rem
    }
    .button {
        display: inline-block;
        width: 30.33%
    }
    #head .span_1_of_3:nth-child(1) {
        width: 25%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 45%
    }
    #head .span_1_of_3:nth-child(3) {
        width: 100%
    }
    body {
        margin: 0
    }
    #head {
        position: relative;
        height: 24rem
    }
    #head .span_1_of_3:nth-child(1) {
        position: absolute;
        top: 1.5rem;
        left: 5rem
    }
    #head .span_1_of_3:nth-child(2) {
        position: absolute;
        right: 3rem;
        top: 1.5rem
    }
    #head .span_1_of_3:nth-child(3) {
        position: absolute;
        top: 16rem;
        right: .2rem
    }
    .oldnewsicon img{
    position: absolute;
    width: 17px;
    height: 12px;
 margin-left: -17rem;
 margin-top: 1rem;
 padding-right: 1rem;
    }

    .oldnewsiconbar .btns{
        width: 60rem;
        height: 20px;
        position: absolute;
        top: 2.5rem;
    }
}

@media only screen and (max-width:371px) {
    .marquee-outer {
        height: 18px
    }
    #head .span_1_of_3:nth-child(1) {
        position: absolute;
        top: 0;
        left: 5rem
    }
    .web-radio img {
        width: 100%
    }
    audio {
        width: 100%
    }
    html {
        font-size: 35%
    }
    .marquee-outer img {
        height: 17px
    }
    .marquee-outer {
        height: 21px
    }
}

@media only screen and (max-width:376px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 53%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 22%
    }
    .bnews a {
        font-size: .5rem
    }
    .marquee-outer {
        height: 18px
    }
}

@media only screen and (max-width:341px) {
    #head .span_1_of_3:nth-child(1) {
        position: absolute;
        top: 1rem;
        left: 5rem
    }
}

@media only screen and (max-width:333px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 50%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 25%
    }
}

@media only screen and (max-width:314px) {
    #head .span_1_of_3:nth-child(1) {
        position: absolute;
        top: 2rem;
        left: 5.7rem
    }
}

@media only screen and (max-width:303px) {
    #head .span_1_of_3:nth-child(1) {
        position: absolute;
        top: 1.5rem;
        left: 7rem
    }
    .marquee-outer {
        height: 18px
    }
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 27%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 44%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 29%
    }
}

@media only screen and (max-width:289px) {
.oldnewsicon img{
    position: absolute;
    width: 17px;
    height: 12px;
 margin-left: -10rem;
 margin-top: 0rem;
 padding-right: 0rem;
    }
    .oldnewsiconbar{

    }
}
@media only screen and (max-width:280px) {
    .breaking-news .span_1_of_3:nth-child(1) {
        width: 25%
    }
    .breaking-news .span_1_of_3:nth-child(2) {
        width: 46%
    }
    .breaking-news .span_1_of_3:nth-child(3) {
        width: 29%
    }
    #head .span_1_of_3:nth-child(1) {
        top: 3.5rem;
        left: 10rem;
        width: 25%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 45%
    }
    #head .span_1_of_3:nth-child(3) {
        position: absolute;
        top: 24rem;
        width: 100%
    }
    html {
        font-size: 20%
    }
    .bnews a {
        font-size: .4rem
    }
    #head {
        position: relative;
        height: 33rem
    }
    .socialIcon img {
        margin-left: 17rem
    }
}

@media only screen and (max-width:248px) {
    #head .span_1_of_3:nth-child(1) {
        top: 1rem;
        left: 5rem;
        width: 30%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 55%
    }
    #head .span_1_of_3:nth-child(3) {
        position: absolute;
        top: 24rem;
        width: 100%
    }
    html {
        font-size: 20%
    }
    .bnews a {
        font-size: .4rem
    }
    #head {
        position: relative;
        height: 33rem
    }
    .socialIcon img {
        margin-left: 13rem
    }
}

@media only screen and (max-width:220px) {
    #head .span_1_of_3:nth-child(1) {
        top: 4rem
    }
}

@media only screen and (max-width:220px) {
    #head .span_1_of_3:nth-child(1) {
        top: 1rem;
        left: 5rem;
        width: 25%
    }
    #head .span_1_of_3:nth-child(2) {
        width: 55%
    }
    #head .span_1_of_3:nth-child(1) {
        top: 6rem
    }
}